body{
    height: 100%;
    width: 100%;
    background: rgb(225,243,245);
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.page{
    height: 100%;
    width: 100%;
}

.page-navbar{
    height: 20vh;
    width: 100vw;
    background: rgb(18,20,94);
}

.page-content{
    height: 80vh;
    width: 100vw;

}

.product-card > img{
    height: 100px;
    width: 100px;
}

