:root{
    --levitate: 5vh;
}

*{
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100vw;
}

.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    /*flex-direction: column;*/
    /*align-items: center;*/
    justify-content: center;

    background-image: url("../src/Images/japanese-door(open).png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
}

.content-container {
    margin-top: 6.4vh;
    height: 90vh;
    width: 72vw;
    background: rgba(210, 180, 140, 0.32);
    display: grid;
    grid-template-areas:
            'navbar'
            'content';
    grid-template-rows: 1fr 5fr;
}

.shelf-navbar {
    grid-area: navbar;
    height: 30vh;
    /*width: 90vw;*/
    background-image: url("../src/Images/japanese-shelf(transparent).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    padding: 0 4vh 0 4vh;
}

.content{
    grid-area: content;
    overflow-y: scroll;
    padding: 0 1vw;
}

.content::-webkit-scrollbar{
    display: none;
}

.nav-skj-logo{
    height: 12vh;
    width: 10vw;
    background-image: url("../src/Images/japan-vase-skj-logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 3.5vh;
}

.nav-skj-logo:hover,
.nav-skj-logo:focus{
    cursor: pointer;
    margin-bottom: 6vh;
}

.nav-about-us{
    height: 9vh;
    width: 10vw;
    background-image: url("../src/Images/about-us-cup(transparent-2).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 2.5vh;
}

.nav-about-us:hover,
.nav-about-us:focus{
    cursor: pointer;
    margin-bottom: 5vh;
}

.product-card > img {
    height: 100px;
    width: 100px;
}

.door-left {
    margin-top: 6.3vh;
    height: 90vh;
    width: 50vw;
    position: absolute;
    background-image: url("../src/Images/japanese-door(left).png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    left: 0;

    animation-name: openRight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: all 1s;
    animation-delay: .5s;
}

.door-left-un-animated{
    margin-top: 6.3vh;
    height: 90vh;
    width: 50vw;
    position: absolute;
    background-image: url("../src/Images/japanese-door(left).png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    left: -36%;
}

.door-right {
    margin-top: 6.3vh;
    height: 90vh;
    width: 50vw;
    position: absolute;
    background-image: url("../src/Images/japanese-door(right).png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    right: 0;

    animation-name: openLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: all 1s;
    animation-delay: .5s;
}

.door-right-un-animated{
    margin-top: 6.3vh;
    height: 90vh;
    width: 50vw;
    position: absolute;
    background-image: url("../src/Images/japanese-door(right).png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    right: -36%;
}


.skj-title{
    font-size: 6vw;
    text-align: center;
    font-family: 'Babylonica', cursive;
}

.skj-moto{
    text-align: center;
}


@keyframes openRight {
    from {
        left: 0;
    }
    to {
        left: -36%;
    }
}

@keyframes openLeft {
    from {
        right: 0;
    }
    to {
        right: -36%;
    }
}


@media screen and (max-width: 768px) {
    .shelf-navbar{
        display: none;
    }

    .skj-title{
        font-size: 8vw;
    }
}